{% extends 'main.html' %}
{% block content %}
    {% if request.user in room.participants.all %}
    {% csrf_token %}
        <div class="container"><a href="{% url 'rooms' %}">Back</a></div>
        <div class="container"><a href="{% url 'room-update' room.id %}">Update Room</a></div>
        <div class="container">
        Room name: {{ room.name }}
        </div>
            <div class="container">Participants:
            {% for account in room.participants.all %}
            {{ account.username }}<a href="{% url 'room-user-delete' id=room.id pk=account.pk %}">del</a>
            {% endfor %}
            </div>
        <a href="{% url 'room-user-add' id=room.id %}">add participants</a>
        <div class="container">
        info: {{ room.info }}
        </div>
        <div class="container">
        Password: {{ room.password }}
        </div>
        <div class="container"><a href="{% url 'room-delete' room.id %}">Delete Room</a></div>
        {% else %}
            <h3>Want to join to the room?<a href="{% url 'room-enter' room.id %}">Join</a></h3>
        {% endif %}
{% endblock content %}