{% extends 'main.html' %}
{% block content %}
    <div class="header-bar">
        <h3>Hello {{ request.user.username|title }}</h3>
        <h3>{{ room.name }}</h3>
        <h3><a href="{% url 'rooms-search' %}">&#8678; Back</a></h3>
    </div>
    {% csrf_token %}
    <form method="POST" action="">
        {% csrf_token %}
        {% if request.user not in room.participants.all %}
        <div class="card-body">
            {{ form.as_p }}
            <input class="button" type="submit" value="Enter">
        </div>
        {% else %}
            <div class="task-wrapper"> You are in participants </div>
        {% endif %}
    </form>
{% endblock content %}