{% extends 'main.html' %}
{% block content %}
    {% csrf_token %}
    {% if request.user.is_authenticated %}
        <div class="container"><a href="{% url 'rooms' %}">Back</a></div>
        {% for room in rooms %}
            <tr class='success'>
            {% if request.user not in room.participants.all %}
                <div class="container">
                    <a href="{% url 'room-enter' room.id %}">{{ room.name }}</a>
                </div>
            {% endif %}
            </tr>
        {% empty %}
            <h3>No items in List</h3>
        {% endfor %}
    {% endif %}
{% endblock content %}