{% extends 'main.html' %}
{% block content %}
        <div class="container">
            {{ room }}
        </div>
        <div class="container">

        </div>
    {% csrf_token %}
        <tr>
            <div class="container"><a href="{% url 'rooms' %}">Back</a></div>
            <div class="container"><a href="{% url 'chat' room_id=room.id %}">Room Chat</a></div>
            <div class="container"><a href="{% url 'room-task-create' id=request.resolver_match.kwargs.id %}">Create new task</a></div>
        </tr>
        <div class="container">
        {% for task in room_tasks %}
            <div class="container">
            <a href="{% url 'room-task-update' id=task.room.id pk=task.id %}">{{ task }}</a>; Created {{ task.created|timesince }} ego. Done: {{ task.done }}
            </div>
        {% endfor %}
        </div>
{% endblock content %}