{% extends 'main.html' %}
{% block content %}
    {% csrf_token %}
    {{ roomtasks.room }}
{#    {{ roomtasks }}#}
    {% if request.user.is_authenticated %}
        <tr>
            <div class="container"><a href="{% url 'rooms' %}">Back</a></div>
            <div class="container"><a href="{% url 'task-create' %}">Create new task</a></div>
        </tr>
        {% for task in roomtasks %}
            <tr class='success'>
                <div class="container">
                    <a href="{% url 'task' task.id %}"><td>{{ task.title }}</td></a>
                    <td>{{ task.created|timesince }} ago</td>
                </div>
                <div class="container">
                <td>{{ task.done }}</td>
                </div>
                <div class="container">
                <td>{{ task.room }}</td>
                </div>

                <div class="container">
                <td>{{ task.room.participants }}</td>
                </div>

                <div class="container">
                <td>{{ task.user }}</td>
                </div>
            <a href="{% url 'task-update' task.id %}">Edit</a>
            </tr>
        {% empty %}
            <h3>No items in List</h3>
        {% endfor %}
    {% endif %}

{% endblock content %}