{% extends 'main.html' %}
{% block content %}
    {% csrf_token %}
    {% if user.is_authenticated %}
        <a href="{% url 'home' %}">Back</a>
        {% for task in tasks %}
            <tr class='success'>
                <div class="container">
                    <a href="{% url 'task' task.id %}"><td>{{ task.title }}</td></a>
                    <td>{{ task.created|timesince }} ago</td>
                </div>
                <div class="container">
                <td>{{ task.done }}</td>
                </div>
            </tr>
        {% endfor %}
    {% endif %}

{% endblock content %}