{% extends 'main.html' %}
{% block content %}
    {% csrf_token %}
        <tr>
            <div class="container"><a href="{% url 'home' %}">Back</a></div>
            <div class="container"><a href="{% url 'task-create' %}">Create new task</a></div>
        </tr>
        <div class="container">You have {{ tasks_count }} tasks to Do!</div>
        {% for task in tasks %}
            <tr class='success'>
                <div class="container">
                    <a href="{% url 'task' task.id %}"><td>{{ task.title }}</td></a>
                    <td>{{ task.created|timesince }} ago</td>
                </div>
                <div class="container">
                <td>{{ task.done }}</td>
                </div>
            <a href="{% url 'task-update' task.id %}">Edit</a>
            </tr>
        {% empty %}
            <h3>No items in List</h3>
        {% endfor %}
{% endblock content %}