{% extends 'main.html' %}
{% block content %}
    <form method="POST">
    {% csrf_token %}
    {% for message in messages %}
    {{ message }}123
    {% endfor %}
        {% if form.errors %}
            <div class="header-bar" role="alert">{{ form.errors }}</div>
        {% endif %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>
    <input type="submit" value="login">
    <input type="hidden">
    </form>
        <small>Haven't you signed up yet?</small>
        <a href="{% url 'register' %}">Register</a>
{% endblock content %}