{% extends 'main.html' %}
{% block content %}
    <div class="header-bar">
        <p align="center"><h2>Login</h2></p>
    </div>
    <div class="card-body">
    <form method="POST">
    {% csrf_token %}
        {% if form.errors %}
            <div class="header-bar">{{ form.errors }}</div>
        {% endif %}
            {{ form.username.label_tag }}
            {{ form.username }}

            {{ form.password.label_tag }}
            {{ form.password }}
        <div style="margin-top: 20px;" align="center">
            <input class="button" type="submit" value="Login">
        </div>
    <input type="hidden">
    </form>
    </div>
    <div align="center">
        <small>Haven't you signed up yet?</small>
        <a href="{% url 'register' %}">Register</a>
    </div>

{% endblock content %}